<!DOCTYPE html>
<html>
  <head>
    <title>Fan Page</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fan Page</h1>
  
    <p>Yay fans</p>
    
    <p>Cheers,</p>
    <p>Travel Enthusiast Joss</p>
  </body>
</html>